IdentityServer/.idea
IdentityServer/IdentityServer.Data/obj
IdentityServer/IdentityServer/obj
IdentityServer/IdentityServer.BLL/obj
IdentityServer/IdentityServer.Core/obj
IdentityServer/IdentityServer.Controllers/obj
